body {
  Font-family: Open Sans;
}

.main-header {
  background-color: #6DA143;
}

.navbar-header {
  padding: 5px 0 0 20px;
}

  .navbar-brand {
    background-image: url('images/logo-conteudodigital.png');
    background-size: 80px 60px;
    height: 61px;
    width: 81px;
  }

.navbar-right {
  font-size: 20px;
  font-weight: 300;
  margin-right: 20px;
  height: 65px;
}

.navbar-right li > a {
  color: white !important;
}

.navbar-right li > a:hover {
  color:#CCC !important;
}

.form-inline .form-group {
  vertical-align: baseline;
}

.form-control {
  border-radius: 0px;
}

.post-preview {
  padding-left: 10px;
  margin-top: 10px;
}
  .post-preview::after {
    border-bottom: 1px solid #CCC;
    width: 70%;
    height: 10px;
    margin: auto;
  }

  .post-preview .post-title {
    margin-top: 0px;
  }

  .post-preview .post-info {
    font-size: 11px;
  }

  .post-preview .post-resume {
    margin-top: 5px;
  }

@media (max-width: 767px) {
  .conversion-header .conversion-header-title {
    font-size: 24px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}