<style>
  .intro-header {
    height: 65px;
  }
  h1 {
    font-size: 27px;
    text-align: center;
  }
  .col-md-5 {
    margin-bottom: 20px;
  }
</style>
<cd-header></cd-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Conheça algumas tendências para turbinar a PRESENÇA DIGITAL DA SUA EMPRESA</h1>
      <hr />
    </div>
    <div class="col-md-5">
      <cd-conversion-form 
        form-type="download" 
        file-url="content/images/infografico-5tendenciasmktdeconteudo.png" 
        form-title="Baixe gratuitamente nosso infografico"
        buttom-message="Receber o infográfico"
        success-message="Aproveito nosso conteúdo"></cd-conversion-form>
    </div>
    <div class="col-md-7">
      <img class="img-responsive" src="images/LP.png" alt="motivos para investir em marketing de conteúdo">
    </div>
  </div>
</div>